.qa-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.base {
  z-index: 2;
  margin: auto;
  width: 324px;
  height: 44px;
  bottom: 44px;
  left: 0; right: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 24px;
  border: 2px solid #a2a2a2;
  background: rgba(0, 0, 0, .8);
}

.base-out2in {
  animation: out2in-anim 240ms ease-in 0ms 1 normal forwards, out2in-anim-p2 240ms ease-in 220ms 1 normal forwards;
}

.base-in2out {
  animation: in2out-anim 240ms ease-in 0ms 1 normal forwards, in2out-anim-p2 240ms ease-in 220ms 1 normal forwards;
}

.base-out2min {
  cursor: pointer;
  box-sizing: border-box;
  animation: out2min-anim 640ms ease-in 0ms 1 normal forwards
}

.base-min2out {
  border-width: 4px;
  box-sizing: border-box;
  animation: min2out-anim 240ms ease-in 0ms 1 normal forwards
}

.base-in2min {
  cursor: pointer;
  animation: in2out-anim 240ms ease-in 0ms 1 normal forwards, in2min-anim-p2 240ms ease-in 220ms 1 normal forwards;
}

.base-min2in {
  animation: min2in-anim 240ms ease-in 0ms 1 normal forwards, out2in-anim-p2 240ms ease-in 220ms 1 normal forwards;
}

.base-in2ex {
  animation: in2ex-anim 240ms ease-in 0ms 1 normal forwards
}

.base-ex2in {
  animation: ex2in-anim 240ms ease-in 0ms 1 normal forwards
}

.base-ex2sl {
  animation: ex2in-anim 240ms ease-in 0ms 1 normal forwards
}

.base-ex2min {
  cursor: pointer;
  animation: ex2min-anim 480ms ease-in 0ms 1 normal forwards
}

.con {
  width: 324px;
  height: 44px;
  bottom: 0px;
  position: absolute;
}

@keyframes out2in-anim {
  0% { transform: scale(0); width: 44px; }
  100% { transform: scale(1); width: 44px; }
}

@keyframes out2in-anim-p2 {
  0% { width: 44px; }
  100% { width: 324px; }
}

@keyframes in2out-anim {
  0% { width: 324px }
  100% { width: 44px }
}

@keyframes in2out-anim-p2 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes min2out-anim {
  0% { transform: scale(.35); width: 44px; }
  100% { transform: scale(0); width: 44px; }
}

@keyframes out2min-anim {
  0% { transform: scale(3.5); opacity: 0; border-width: .5px; width: 44px; }
  100% { transform: scale(.35); opacity: 1;  border-width: 4px; width: 44px; }
}

@keyframes in2min-anim-p2 {
  0% { transform: scale(1); border-width: 2px; box-sizing: none; }
  100% { transform: scale(.35); border-width: 4px; box-sizing: border-box; }
}

@keyframes min2in-anim {
  0% { transform: scale(.35); width: 44px; border-width: 4px; box-sizing: border-box; }
  100% { transform: scale(1); width: 44px; border-width: 2px; box-sizing: none; }
}

@keyframes in2ex-anim {
  0% { height: 44px; }
  100% { height: 444px; }
}

@keyframes ex2in-anim {
  0% { height: 444px; }
  100% { height: 44px; }
}

@keyframes ex2min-anim {
  0% { height: 444px; }
  25% { width: 324px; height: 324px; border-radius: 50%; }
  100% { 
    width: 44px; height: 44px; border-radius: 50%; 
    transform: scale(.35); border-width: 4px; box-sizing: border-box; 
  }
}

/* --- qa-buttons --- */

.qa-btn-con {
  width: 44px;
  height: 44px;
  float: left;
  position: relative;
  color: #a2a2a2;
  cursor: pointer;
  transform: scale(0);
  /* border: 1px solid red; */
}

.qa-btn-con:hover {
  color: #ffffff
}

.qa-btn-in {
  animation-name: qa-btn-in-anim;
  animation-fill-mode: forwards;
}

.qa-btn-out {
  animation-name: qa-btn-out-anim;
}

.qa-draw { width: 22px; height: 22px; }
.qa-speed { width: 22px; height: 22px; }
.qa-shapes { width: 24px; height: 24px; }
.qa-rules { width: 22px; height: 22px; }
.qa-colors { width: 24px; height: 24px; }
.qa-close { width: 24px; height: 24px; }

.qa-padding {
  float: left;
  width: 8px;
  height: 44px;
}

@keyframes qa-btn-in-anim {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes qa-btn-out-anim {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}


/* --- QaTooltip --- */

.qa-tt-con {
  z-index: 4;
  opacity: 0;
  height: 38px;
  position: absolute;
  pointer-events: none;
  left: 0px; bottom: 0px; right: 0px;
  transition: opacity 240ms;
}

.qa-tt-con-in {
  opacity: 1;
}

.qa-tt-svg {
  height: 6px;
  width: 100%;
  display: block;
}

.qa-tt-msg-con {
  width: fit-content;
  position: absolute;
}

.qa-tt-msg {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
  background: #dfdfdf;
  padding: 5px 8px 5px 8px;
  transform: translateX(-50%);
}


/* --- QaSlider --- */

.qa-sl-con {
  width: 0px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: width 300ms;
}

.qa-sl-in { width: 100%; }

.qa-sl-track-con {
  top: 4px;
  left: 4px;
  width: 316px;
  height: 36px;
  overflow: hidden;
  position: absolute;
  border-radius: 18px;
}

.qa-sl-track {
  height: 100%;
  width: 100px;
  position: absolute;
  background: #a2a2a2;
}

.qa-sl-thumb {
  width: 44px;
  height: 44px;
  position: absolute;
  border-radius: 50%;
  background: #a2a2a2;
  box-sizing: border-box;
  border: 3px solid #000000;
  transition: background-color 180ms;
}

.qa-sl-thumb-hov {
  background: #ffffff;
}

.qa-sl-receiver {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: ew-resize;
}

.qa-sl-lbl {
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 48px;
  padding-top: 6px;
  font-size: 22px;
  font-weight: 200;
  position: fixed;
  text-align: center;
  border-radius: 50%;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 4px #000000;
  transition: bottom 120ms, opacity 120ms, transform 120ms;
}

.qa-sl-lbl-pressed {
  opacity: 1;
  bottom: 112px;
  transform: scale(1.5);
}

.qa-sl-x {
  width: 24px;
  height: 24px;
  position: fixed;
  color: #a2a2a2;
  cursor: pointer;
  border-radius: 50%;
  transform: translate(282px, 10px);
  transition: transform 240ms, background-color 240ms;
}

.qa-sl-x:hover {
  color: #ffffff;
}

.qa-sl-x-in {
  opacity: 1;
  background-color: #000000;
  transform: translate(344px, 10px) scale(1.36) rotateZ(180deg);
}

.qa-sl-x-out {
  animation: qa-sl-x-dummy-anim 0ms linear 240ms 1 normal forwards;
}

.qa-sl-x-ico {
  width: 100%;
  height: 100%;
}

@keyframes qa-sl-x-dummy-anim {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


/* --- EX --- */

.ex-base {
  opacity: 0;
  width: 100%;
  height: 400px;
  position: absolute;
}

.ex-base-in2ex {
  animation: ex-in2ex-anim 240ms ease-in 60ms 1 normal forwards;
}

.ex-base-ex2in {
  animation: ex-ex2in-anim 120ms ease-in 0ms 1 normal forwards;
}

.ex-base-ex2min {
  animation: ex-ex2in-anim 120ms ease-in 0ms 1 normal forwards;
}

.ex-indic {
  height: 444px;
  position: absolute;
  transition: left 120ms;
  background-color: #00000000;
}

.ex-con {
  opacity: 0;
  width: 100%;
  height: 400px;
  position: absolute;
}

.ex-con-in {
  z-index: 1;
  animation: excon-in-anim 120ms ease-in 60ms 1 normal forwards;
}

.ex-con-out {
  animation: excon-out-anim 60ms ease-in 0ms 1 normal forwards;
}

.ex-title {
  height: 44px;
  font-size: 29px;
  font-weight: 200;
  color: #a2a2a2;
  padding-top: 2px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid #a2a2a2;
}

.ex-cont {
  height: 356px;
  overflow: hidden;
  position: relative;
}

.ex-flick {
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #a2a2a2 #00000000;
}

.ex-pcon {
  width: 648px;
  height: 356px;
  position: absolute;
  transition: transform 240ms;
}

.ex-pg {
  width: 324px;
  height: 356px;
  position: absolute;
}

.ex-pg2 { left: 324px; }

.ex-item-con { margin: 4px 10px 4px 10px; }
.ex-item-scrl { margin: 4px 0 4px 10px; }

.ex-st-con {
  position: relative;
}

.ex-st-lbl {
  width: 100%;
  color: #a2a2a2;
  text-align: center;
  position: absolute;
}

.ex-st-hr {
  height: 1px;
  position: absolute;
  background: #a2a2a2;
  margin: auto; top: 0; bottom: 0;
}

.ex-back {
  z-index: 1;
  width: 44px;
  height: 44px;
  color: #a2a2a2;
  cursor: pointer;
  position: absolute;
  transform: scale(0);
  transform-origin: 35% 50%;
  transition: transform 120ms;
}

.ex-back:hover {
  color: #ffffff;
}

.ex-back-vis {
  transform: scale(1);
}

.ex-back-lbl {
  top: -10px;
  left: 4px;
  position: absolute;
  font-size: 45px;
  font-weight: 200;
  transform: scaleX(.5);
}

@keyframes ex-in2ex-anim {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes ex-ex2in-anim {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes excon-in-anim {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes excon-out-anim {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


/* --- ExShapes --- */

.shape-con {
  width: 100%;
  height: 600px;
  position: absolute;
  transition: transform 240ms;
}

.shape-up {
  transform: translateY(-316px);
}

.shape-l1 {
  width: 100%;
  height: 316px;
  overflow-y: scroll;
}

.shape-l2 {
  width: 100%;
  height: 296px;
  overflow-y: scroll;
}

.shape-mid {
  width: 304px;
  height: 38px;
  position: relative;
  margin: 0 10px 0 10px;
}

.shape-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a2a2a2 #00000000;
}

.mb-con {
  width: 144px;
  height: 26px;
  cursor: pointer;
  position: absolute;
}

.mb-svg {
  width: 144px;
  height: 26px;
}

.mi-con {
  left: 141px;
  width: 20px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  transition: opacity 240ms;
}

.mi-not {
  opacity: 0;
  pointer-events: none;
}

.mi-svg {
  width: 20px;
  height: 13px;
}

.sc-con {
  height: 26px;
  cursor: pointer;
  font-size: 19px;
  color: #a2a2a2;
  padding-top: 2px;
  text-align: center;
  border-radius: 4px;
  margin: 2px 0 2px 10px;
  border: 1px solid #00000000;
}

.sc-con:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.sc-con:active {
  color: #000000;
  background-color: #ffffff;
}

.fc-con {
  color: #a2a2a2;
  overflow-y: hidden;
  position: relative;
  border-radius: 4px;
  margin: 2px 0 2px 10px;
  border: 1px solid #00000000;
  transition: height 120ms;
}

.fc-lbl {
  height: 30px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  transform: translateY(2.5px);
  transition: font-size 120ms, transform 120ms;
}

.fc-lbl-ex {
  height: 21px;
  cursor: auto;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(0);
  border-radius: 2px 2px 0 0;
  background-color: #a2a2a2;
}

.fc-icon {
  right: 6px;
  top: 4.5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  transition: transform 120ms;
}

.fc-icon:hover { transform: scale(1.25); }
.fc-icon-hid { display: none; }
.fc-icon-ex { top: 0; }

.fc-ex {
  color: #a2a2a2;
  margin-top: 8px;
}

.fslide-con {
  height: 20px;
  font-size: 14px;
  position: relative;
  margin: 2px 0 2px 0;
}

.fslide-lbl {
  left: 8px;
  position: absolute;
}

.fslide-val {
  right: 8px;
  position: absolute;
}

.fslide {
  -webkit-appearance: none;
  right: 8px;
  width: 175px;
  height: 20px;
  cursor: pointer;
  background: none;
  position: absolute;
}

.fslide::-webkit-slider-runnable-track {
  height: 12px;
  width: 175px;
  border-radius: 6px;
  border: 1px solid #a2a2a2;
}

.fslide-hov::-webkit-slider-runnable-track {
  border-color: #ffffff;
}

.fslide::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #a2a2a2;
}

.fslide-hov::-webkit-slider-thumb {
  background: #ffffff;
}

.fslide::-moz-range-track {
  height: 12px;
  width: 175px;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #a2a2a2;
}

.fslide-hov::-moz-range-track {
  border-color: #ffffff;
}

.fslide::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #a2a2a2;
  border-color: #00000000;
  box-sizing: border-box;
}

.fslide-hov::-moz-range-thumb {
  background: #ffffff;
}

.shape-item-pad {
  height: 6px;
}


/* --- ExRules --- */

.rule-item-con {
  cursor: pointer;
  color: #a2a2a2;
  font-size: 21px;
  text-align: center;
  margin: 4px 0px 4px 10px;
}

.rule-item-con:hover {
  color: #ffffff;
}

.rule-item-name {
  font-size: 15px;
  border: 1px solid #00000000;
  border-bottom-style: none;
  border-radius: 4px 4px 0px 0px;
  transition: color 120ms, background-color 120ms, border-color 120ms ;
}

.rule-item-name-sel {
  color: #000000;
  border-color: #a2a2a2;
  background-color: #a2a2a2;
}

.rule-item-rule {
  font-weight: 300;
  padding-bottom: 2px;
  border: 1px solid #00000000;
  border-radius: 0px 0px 4px 4px;
  transition: color 120ms, border-color 120ms;
}

.rule-item-rule-sel {
  color: #a2a2a2;
  border-color: #a2a2a2;
}

.dia-lt {
  width: 298px;
  height: 88px;
  margin-top: 4px;
  margin-left: 13px;
  position: relative;
  /* background-color: #00ff0045; */
}

.dia-btn {
  width: 38px;
  height: 38px;
  cursor: pointer;
  color: #a2a2a2;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #a2a2a2;
  transform: rotateZ(45deg);
}

.dia-btn:active {
  transform: rotateZ(45deg) scale(.9);
}

.dia-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.dia-btn:hover .dia-cb {
  background-color: #ffffff;
}

.dia-btn-c {
  color: #000000;
}

.dia-btn-c:hover {
  color: #000000;
}

.dia-cb {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 3px; top: 3px;
  transform: scale(0);
  background-color: #a2a2a2;
  transition: transform 120ms;
}

.dia-cb-c {
  transform: scale(1);
}

.dia-lbl {
  width: 100%;
  font-size: 21px;
  margin-top: 3.5px;
  text-align: center;
  transform: rotateZ(-45deg);
}

.rule-info {
  font-size: 13.4px;
  color: #a2a2a2;
  text-align: center;
}

.rule-opt-con {
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
  color: #a2a2a2;
  position: relative;
  margin: 10px 10px 10px 10px;
}

.rule-opt-con:hover {
  color: #ffffff;
}

.rule-opt-con:hover .roc-lbl {
  transform: translateX(-16px);
}

.rule-opt-con:hover .roc-chev {
  transform: scale(1);
}

.ro-ctrl {
  width: 300px;
  font-weight: 500;
  right: 0; top: 0;
  position: absolute;
}

.roc-lbl {
  right: 0;
  position: absolute;
  transition: transform 120ms;
}

.roc-ico {
  width: 21px;
  height: 21px;
  position: absolute;
}

.roc-chk {
  right: -3px;
}

.roc-chev {
  right: -8px;
  transform: scale(0);
  transition: transform 120ms;
}