.tqa-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

/* Radial Menu */

.rm-root {
  z-index: 50;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}

.rm-bg {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.86);
  animation: scale-in-anim 120ms linear 0ms 1 normal forwards;
}

.rm-item-con {
  width: 50px;
  height: 50px;
  position: absolute;
  transform: scale(0);
  animation: scale-in-anim 120ms linear 0ms 1 normal forwards
}

.rm-item {
  color: #a2a2a2;
  transition: color 120ms;
}

.rm-draw { width: 30px; height: 30px; }
.rm-shapes { width: 26px; height: 26px; }
.rm-rules { width: 30px; height: 30px; }
.rm-colors { width: 30px; height: 30px; }

.item-up { left: 50px; top: 0; animation-delay: 120ms; }
.item-right { left: 100px; top: 50px; animation-delay: 140ms; }
.item-down { left: 50px; top: 100px; animation-delay: 160ms; }
.item-left { left: 0; top: 47px; animation-delay: 180ms; }

.item-up .highlight { color: #ffffff; }
.item-right .highlight { color: #ffffff; }
.item-down .highlight { color: #ffffff; }
.item-left .highlight { color: #ffffff; }

.arrows-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: scale-in-anim 120ms linear 0ms 1 normal forwards
}

.rm-arrow-con {
  width: 25px;
  height: 25px;
  color: #a2a2a2;
  position: absolute;
}

.rm-arrow {
  width: 25px;
  height: 25px;
  transition: transform 120ms, color 120ms;
}

.arrow-up { left: 62.5px; top: 50px; }
.arrow-right { left: 75px; top: 62.5px; }
.arrow-down { left: 62.5px; top: 75px; }
.arrow-left { left: 50px; top: 62.5px; }

.arrow-up .collapsed { color: #ff6767; transform: translateY(18px); }
.arrow-right .collapsed { color: #ff6767; transform: translateX(-18px); }
.arrow-down .collapsed { color: #ff6767; transform: translateY(-18px); }
.arrow-left .collapsed { color: #ff6767; transform: translateX(18px); }

.arrow-up .highlight { color: #ffffff; transform: translateY(-9px); }
.arrow-right .highlight { color: #ffffff; transform: translateX(9px); }
.arrow-down .highlight { color: #ffffff; transform: translateY(9px); }
.arrow-left .highlight { color: #ffffff; transform: translateX(-9px); }

.scale-out {
  animation: scale-out-anim 120ms linear 0ms 1 normal forwards
}

@keyframes scale-in-anim {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes scale-out-anim {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

/* BrushToggle */

.bt-root {
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: 0;
  right: 0;
  z-index: 51;
}

.bt-con {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.86);
  animation: bt-in-anim 640ms linear 0ms 1 normal forwards
}

.bt-icon {
  width: 16px;
  height: 16px;
  color: #a2a2a2;
}

@keyframes bt-in-anim {
  0% { opacity: 0; transform: scale(10); }
  50% { opacity: 1; transform: scale(5); }
  100% { opacity: 1; transform: scale(1); }
}

/* TqaRules */

.tqa-r-btns {
  z-index: 52;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 44px;
}

.tqa-rbs-s {
  right: 0;
}

.tqa-rb {
  width: 32px;
  height: 32px;
  margin: 2px 0;
  line-height: 1;
  font-size: 21px;
  font-weight: 100;
  color: #a2a2a2;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.86);
  border: 1px solid #a2a2a2;
  animation: fade-in-anim 80ms ease-in 0ms 1 normal forwards
}

.tqa-rbs-s .tqa-rb {
  animation: fade-in-anim 80ms ease-in 0ms 1 normal forwards
}

.tqa-rb-out {
  opacity: 1;
  animation: fade-out-anim 80ms ease-in 0ms 1 normal forwards
}

.tqa-rbs-s .tqa-rb-out {
  animation: fade-out-anim 80ms ease-in 0ms 1 normal forwards
}

.tqa-rb:nth-child(5), .tqa-rb:nth-child(7) {
  animation-delay: 20ms;
}

.tqa-rb:nth-child(4), .tqa-rb:nth-child(8) {
  animation-delay: 40ms;
}

.tqa-rb:nth-child(3), .tqa-rb:nth-child(9) {
  animation-delay: 60ms;
}

.tqa-rb:nth-child(1), .tqa-rb:nth-child(2), .tqa-rb:nth-child(10) {
  animation-delay: 80ms;
}

.tqa-rb-checked {
  color: #ffffff;
  font-weight: 700;
  border: 2px solid #ffffff;
}

.tqa-rl {
  width: 30px;
  height: 30px;
  margin: 1px;
  border: none;
  font-weight: 700;
  border-radius: 4px;
}

/* ShapeMenu */

.sm-root {
  width: fit-content;
  margin: auto;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  position: absolute;
  top: 8px; left: 0; right: 0;
}

.sm-label-con {
  width: fit-content;
  opacity: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.86);
  transition: opacity 1200ms ease-in;
}

.sm-lc-show {
  opacity: 1;
  transition: opacity 120ms;
}

.sm-lc-ex {
  border-radius: 4px 4px 0 0;
}

.sm-label {
  padding: 3px;
}

.sm-arrow {
  width: 16px;
  height: 16px;
  padding: 4px 4px 4px 0;
  opacity: 0;
  transform: translateX(-8px);
  transition: opacity 120ms, transform 120ms;
}

.sm-arrow-vis {
  opacity: 1;
  transform: translateX(0);
}

.sm-sliders-con {
  height: fit-content;
  position: relative;
}

.sm-ss-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.86);
  animation: fade-in-anim 120ms linear 0ms 1 normal forwards;
}

.sm-sliders {
  width: 100%;
  height: fit-content;
  position: relative;
  padding-bottom: 6px;
}

.sm-slider-con {
  display: flex;
  justify-content: space-between;
  color: #a2a2a2;
  padding: 4px 8px 0 8px;
  transition: color 120ms;
  opacity: 0;
  animation-name: slide-in-anim;
  animation-duration: 120ms;
  animation-fill-mode: forwards;
}

.sm-sc-highlight {
  color: #fff;
}

.sm-slider {
  width: 150px;
  height: 10px;
  border-radius: 5px;
  margin: 3px 0 0 8px;
  box-sizing: border-box;
  border: 2px solid #a2a2a2;
  transition: border-color 120ms;
}

.sm-s-track {
  width: 50%;
  height: 100%;
  background-color: #a2a2a2;
  transition: background-color 120ms;
}

.sm-sc-highlight .sm-slider {
  border-color: #fff;
}

.sm-sc-highlight .sm-s-track {
  background-color: #fff;
}

.fade-out {
  animation: fade-out-anim 120ms linear 0ms 1 normal forwards;
}

@keyframes slide-in-anim {
  0% { opacity: 0; transform: translateX(100px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes fade-in-anim {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-anim {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
